@page
@model WebApp.Pages_Configs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Config</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Config.ConfigId" />
            <div class="form-group">
                <label asp-for="Config.BoardSizeX" class="control-label"></label>
                <input asp-for="Config.BoardSizeX" class="form-control" />
                <span asp-validation-for="Config.BoardSizeX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Config.BoardSizeY" class="control-label"></label>
                <input asp-for="Config.BoardSizeY" class="form-control" />
                <span asp-validation-for="Config.BoardSizeY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Config.Player1Name" class="control-label"></label>
                <input asp-for="Config.Player1Name" class="form-control" />
                <span asp-validation-for="Config.Player1Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Config.Player2Name" class="control-label"></label>
                <input asp-for="Config.Player2Name" class="form-control" />
                <span asp-validation-for="Config.Player2Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Config.Name" class="control-label"></label>
                <input asp-for="Config.Name" class="form-control" />
                <span asp-validation-for="Config.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Config.TouchRuleId" class="control-label"></label>
                <select asp-for="Config.TouchRuleId" class="form-control" asp-items="ViewBag.TouchRuleId"></select>
                <span asp-validation-for="Config.TouchRuleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
